* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 10%;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 18px;
}

h1 {
    text-align: center;
    color: red;
    margin-bottom: 5%;
}

.section {
    padding-bottom: 5%;
}
.section > h2 {
    color: blue;
    margin-bottom: 20px;
}

.section > p {
    line-height: 32px;
}

#section4 > ul {
    padding-left: 3%;
    padding-top: 5%;

}